.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

.roll-button {
  display: inline-block;
  margin-top: 20px;
  margin-left: 580px;
  width: 100px;
  height: 100px;
  font-size: 2rem;
  background-color: #4ecca3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
